body {
  height: 100vh;
  background-color: white;
  background-size: cover;
}
#container {
  display: flex;

  height: 100vh;
}

.left-sidebar {
  display: flex;
  flex: 1;

  justify-content: center;
}
.right-sidebar h4 {
  margin: 0;
}
.right-sidebar img {
  margin-bottom: 10px;
}

.profile-upper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.right-sidebar {
  flex: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
img {
  border: 1px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 50px;
  margin-top: 50px;
}
ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}
.input-container {
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.783);
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.feed {
  background-color: #ffffff;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}
input:focus {
  outline: none;
}

input {
  background-color: #0000000e;
}
.squeak-text {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  border: none;
  height: 150px;
  width: 400px;
  background-color: white;

  border-radius: 10px;
}
.submit-squeak {
  margin-top: 10px;
}
.squeak-container {
  padding-bottom: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.073);

  width: 100%;
}
.post-container {
  padding-top: 50px;
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 15px;
}
