.container {
  height: 50px;
  width: 100%;
  background-color: #282a35;
  color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  z-index: 1;
}
