.post {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  color: white;
  height: auto;
  max-width: 90%;
  border: 2px solid black;
  border-radius: 10px;
}
p {
  background-color: rgb(18, 18, 18);
}
h4 {
  padding: 10px;
  background-color: rgb(18, 18, 18);
}

.post-bottom {
  height: 50%;
  display: flex;
  justify-content: end;
}
.post-top {
  height: 50%;
  display: flex;
  justify-content: center;
}
