.left-sidebar {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 90vh;
}
#menuToggle {
  display: block;
  position: fixed;
  top: 65px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: rgb(28, 28, 28);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(188, 188, 188);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #282a35;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #eee;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  margin: -42px 0 0 -20px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 5px 0;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#menuToggle input:checked ~ ul {
  transform: none;
  width: 200px;
  height: 100vh;
}
#menu p {
  text-align: center;
  padding: 10px;
}
.arrow {
  font-size: 20px;
  display: none;
}

@media only screen and (max-width: 1230px) {
  #menu {
    background-color: white;
    border-right: 2px solid gray;
    padding: 10px;
    padding-top: 125px;
  }
}
@media only screen and (max-width: 768px) {
  .left-container {
    height: 10vh;
  }
  .right-sidebar {
    padding-top: 50px;
    flex-direction: column;
  }
  .profile-upper {
    padding: 0;
  }
  #menuToggle input:checked ~ ul {
    width: 100vw;
  }
  #menu p {
    text-align: left;
  }
  #menu li {
    margin-right: 60px;
    border-bottom: 1px solid rgb(202, 202, 202);
  }
  #menu {
    padding-left: 40px;
  }
  .arrow {
    display: inline-block;
  }
}
@media only screen and (max-width: 576px) {
  #menu {
    padding-left: 20px;
  }
  #menu li {
    margin-right: 40px;
  }
}
