.mysqueaks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mysqueaks-container > div {
  border-top: 2px solid rgb(250, 250, 250);
  width: 100%;
}
.mysqueaks-container .post {
  width: 80%;
}
.edit-btn {
  border-color: blue;
  color: blue;
  padding: 8px;
}
.delete-btn {
  border-color: red;
  color: rgb(90, 0, 0);
  padding: 8px;
}

@media only screen and (max-width: 576px) {
  .main-container{
    border: 0;
    flex:8;
  }
  .mysqueaks-container .post {
    width: 95%;
  }
  .btn-holder button{
    padding:10px;
  }
  .btn-holder p{
    line-height: 0;
    margin-bottom: 20px;
  }
}