.profile-container {
  padding-top: 50px;
  display: flex;
}
.left-container {
  flex: 1;
  height: 90vh;
}

.right-container {
  flex: 1;
  height: 90vh;
}
.main-container {
  flex: 4;
  height: 94.5vh;
  border-left: 1px solid rgba(0, 0, 0, 0.275);
  border-right: 1px solid rgba(0, 0, 0, 0.275);
}
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.settings-container input {
  margin-left: 50px;
  width: 60%;
  height: 40px;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.395);
  background-color: white;
}
.settings-container img {
  margin-left: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.settings-container p {
  font-weight: bold;
  font-size: 12px;
}
.settings-container span {
  text-align: right;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.settings-container label {
}

input:focus {
  outline: none;
}

.info-button {
  padding: 2px;
  border: none;
  margin-top: 10px;
  font-size: 15px;
  margin-left: 70%;

  width: 180px;
  text-align: center;
}
.picture-btn {
  font-size: 15px;
  margin-left: 150px;
}
.picture-btn2 {
  font-size: 15px;
  background-color: rgb(217, 0, 0);
  align-self: baseline;
  margin-left: 250px;
}
#profilePic-span {
  margin-bottom: 20px;
}
.iconImg {
  width: 100px;
}
.fa-solid,
.fas {
  font-weight: 900;
  font-size: 30px;
  color: rgb(18, 18, 18);
}

i:hover {
  color: rgb(130, 130, 130);
}
label {
  width: 200px;
}
